body{
    background-color: rgba(10, 180, 253, 0.893);
}
.education{
    height: 20px;
    background-color: rgba(15, 26, 241, 0.427);
    color: azure;
    font-size: larger;
    font-weight: bolder;
    padding:  20px;
    text-align: center;
}
.education-info{
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: rgba(70, 155, 230, 0.525);
    display: grid;
   text-align: center;
    flex-direction: column;
    height: 580px;
}
.course{
    height: 20px;
    background-color: rgba(15, 26, 241, 0.427);
    color: azure;
    font-size: larger;
    font-weight: bolder;
    padding:  20px;
    text-align: center;
    
}
.course-info{
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: rgba(70, 155, 230, 0.525);
    display: grid;
   text-align: center;
    flex-direction: column;
    height: 270px;
}
.language{
    height: 20px;
    background-color: rgba(15, 26, 241, 0.427);
    color: azure;
    font-size: larger;
    font-weight: bolder;
    padding:  20px;
    text-align: center;
    
}
.language-info{
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: rgba(70, 155, 230, 0.525);
    display: grid;
   text-align: center;
    flex-direction: column;
    height: 50px;
}